@import url(layout.css);
button{
    color: white;
    outline: none;
    border: none;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    background: linear-gradient(135deg, var(--palette-3),var(--palette-4), var(--palette-5));
}
.container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  margin: 1rem auto;
}
.parag{
  padding: 1rem 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--palette-1);
  color: var(--palette-6);
  margin: 0;
  border-radius: 8px;
  height: fit-content;
  justify-content: center;
}
.parag h1{
  margin: 0 1rem;
}
.parag p{
  margin: 1rem;
}