@import url(layout.css);
/*inizio hero section*/
div.hero-section{
    container-name: sites;
    container-type: inline-size;
    margin: 1rem auto 0;
    row-gap: 2rem;
    justify-items: center;
    width: 75%;
    height: fit-content;
}
div.hero-section button{
    padding: .5rem;
    width: fit-content;
}
div.hero-section>div.content-card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 2rem 0 2rem 1.5rem;
}
img.thumbnail-card{
    width: 90%;
    border-radius: 8px;
    align-self: center;
    justify-self: end;
}
/*fine hero section*/

/*inizio cards siti*/
div.sites-grid{
    container-name: sites;
    container-type: inline-size;
    margin: 1rem auto 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    row-gap: 2rem;
    justify-items: center;
    width: 75%;
    height: fit-content;
}
:root{
    --lateral-space: 10rem;
}
button.cards{
    padding: 1rem 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: var(--palette-1);
    color: var(--palette-6);
    outline: none;
    border: none;
    margin: 0;
    border-radius: 8px;
    /*padding: 0;
    width: 100%;*/
    height: fit-content;
    justify-content: center;
    cursor: pointer;
}
div.content-card{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    padding: 1rem;
}
@container sites (width < 600px) {
    img.thumbnail-card {
        display: none;
    }
}
@container sites (width >= 600px) {
    button.cards{
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 40% 60%;
    }
}
/*
button.cards>img.thumbnail-card{
}
*/
button.cards>div.content-card>h1.title-card{
    background: linear-gradient(135deg, var(--palette-3),var(--palette-4), var(--palette-5));
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px 15px;
    margin: 0 auto;
    font-size: 35px;
}
button.cards>div.content-card>p.desc-card{
    margin: 0;
    padding: 0 20px;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
}
button.cards>div.content-card>p.foot-card{
    margin: 1rem 0 0;
    padding: 0;
    text-align: left;
    font-size: 17px;
}
/*fine cards siti*/