@import url(layout.css);
@import url(navbar.css);
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    background-color: #fff;
    padding: 1rem;
    border-radius: 20px;
    position: relative;
    margin: 5rem auto;
}
.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}
.title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}
.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}

.signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
  text-align: center;
}

.signin a {
  color: royalblue;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.flname {
  display: flex;
  width: 100%;
  gap: 6px;
}
div.flname input.input{
  width: 90%;
  align-self: center;
}

.form label {
  position: relative;
}

.form label .input {
  width: 95%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}
  
p.problems{
  width: fit-content;
  margin: 0 auto;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}