@import url(layout.css);
nav.navbar{
    width: 100%;
    height: fit-content;
    background-color: var(--dark-color);
    position: static;
    margin: 0;
    padding: 10px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav.navbar a{
    color: var(--light-color);
    transition: all ease-in-out 350ms;
    font-size: 1.7rem;
}
nav.navbar i{
    transition: all ease-in-out 350ms;
    /*font-size: 18px;*/
    font-size: 1.2rem;
}
nav.navbar i.cart{
    font-size: 30px;
    padding: 0 2px;
}
a:visited{
    color: var(--light-color);
    text-decoration: none;
}
a{
    text-decoration: none;
    font-size: 1.5rem;
}
div.search{
    padding:0;
    display: flex;
    flex-direction: row;
}
:root{
    --r: 8px;
    --pad: 12px;
}
div.search i{
    background-color: var(--secondary-color);
    border-top-left-radius: var(--r);
    border-bottom-left-radius: var(--r);
    padding: calc(var(--pad) - 2px);
    font-size: 24px;
}
div.search input{
    font-size: 1.1rem;
    color: lightslategray;
    padding: var(--pad);
    margin: 0;
    border: none;
    border-top-right-radius: var(--r);
    border-bottom-right-radius: var(--r);
}
div.search input{
    color: rgb(98, 109, 120);
    padding: var(--pad);
    margin: 0;
    border: none;
    border-top-right-radius: var(--r);
    border-bottom-right-radius: var(--r);
}
nav.navbar a:hover {
    transform: translateY(-3px);
    color: var(--secondary-color);
}
button.search{
    margin: 0;
    padding: 0;
    background-color: transparent;
    z-index: 1;
    border: none;
}